<div class="card_container">
  <div class="card_image">
    <img
      src="https://http2.mlstatic.com/D_Q_NP_943801-MLC53246238639_012023-AB.webp"
      alt=""
    />
  </div>
  <hr />
  <div class="info_card">
    <div class="discount">$389.990</div>
    <div>
      <span class="price">$ 229.990 </span><span class="OFF">41% OFF</span>
    </div>
    <div class="green_text">6x $38.332 sin interes</div>
    <div class="shipment green_text">Envío gratis</div>
    <div class="item_name">Notebook Hp 14-dk1510la Amd3020e 4gb 256ssd</div>
  </div>
</div>
