.card_container {
  width: 222px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  min-height: 382px;

  .card_image {
    height: 220px;
    width: 220px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      object-fit: contain;
      object-position: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      aspect-ratio: auto 224 / 224;
    }
  }
  .info_card {
    padding: 1rem;
    .price {
      font-size: 1.3rem;
    }
    .OFF {
      font-size: 0.8rem;
      color: var(--green-color);
    }
  }
  .green_text {
    color: var(--green-color);
  }
  .shipment {
    font-weight: 600;
    padding: 7px 0;
  }
  .item_name {
    color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas deseado */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .discount {
    display: none;
    font-size: 0.8rem;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
  }
}

.card_container:hover .discount {
  display: block;
}
hr {
  margin: 0;
}
