<div class="height">
  <ngb-carousel
    #carousel
    [interval]="300000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
  >
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="slider_container">
        <app-card [item]="items[0]"></app-card
        ><app-card [item]="items[1]"></app-card
        ><app-card [item]="items[2]"></app-card
        ><app-card [item]="items[3]"></app-card
        ><app-card [item]="items[4]"></app-card>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
