<div class="container">
  <div class="background">
    <div class="left_section">
      <div class="left_section_content">
        <p>Paga cómodo y seguro</p>
        <p>con Mercado Pago</p>
      </div>
    </div>
    <div class="center_section">
      <div class="cards">
        <img
          src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/credit-card.svg"
          alt=""
        />
        <div class="card_info">
          <p>Hasta 12 cuotas sin interés</p>
          <a href="#">Ver más</a>
        </div>
      </div>
      <div class="cards">
        <img
          src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/debit-card.svg"
          alt=""
        />
        <div class="card_info">
          <p>Tarjeta de débito</p>
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>
    <div class="right_section">
      <div class="cards">
        <img
          src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/view-more.svg"
          alt=""
        />
        <div class="card_info">
          <p>Más medios de pago</p>
          <a href="#">Ver todos</a>
        </div>
      </div>
    </div>
  </div>
</div>
