button {
  position: relative;
  cursor: pointer;
  z-index: 9999;
  transition: 0.4s ease-out;
  &:hover {
    opacity: 0.9;
  }
  &::after {
    border-style: solid;
    border-width: 0 1.5px 1.5px 0;
    content: "";
    display: inline-block;
    height: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 2px;
    color: rgba(0, 0, 0, 0.3);
    margin: 0;
    bottom: 5px;
    right: -10px;
    position: absolute;
    padding: 2px;
  }
}
.categories_menu {
  position: absolute;
  width: 250px;
  z-index: 9999;
}
ul {
  margin: 1.2rem 0 0 0;
  border-radius: 5px;
  position: relative;
  left: -120px;
  width: 250px;
  background-color: #333333;
  color: white;
  padding: 1rem 0px;
  z-index: 999999;
  opacity: 1 !important;

  li {
    list-style: none;
    margin: 12px 0px;
    padding: 0.8rem 1rem;
    &:hover {
      background-color: var(--color-blue);
    }
  }
  &:before {
    content: "";
    background-color: #333333;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -7px;
    left: 188px;
  }
}
.block {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  top: 100px;
  left: 0;
  z-index: 999;
}
