<div class="disney_section">
  <div class="top">
    <h1>Suscríbete al nivel 6</h1>
    <div class="price">
      <p>$15.000</p>
      <p>$ 5.999 /mes</p>
    </div>
  </div>
  <div class="middle">
    <h4>Consigue los mejores beneficios en Mercado Libre</h4>

    <div class="items-row">
      <div class="item">
        <div class="image_container">
          <img
            src="https://http2.mlstatic.com/resources/frontend/statics/loyal/partners/widget-l6/dplus.svg"
            alt=""
          />
        </div>

        <p>Disney+ sin cargo</p>
      </div>
      <div class="item">
        <div class="image_container">
          <img
            src="https://http2.mlstatic.com/resources/frontend/statics/loyal/partners/widget-l6/starplus.svg"
            alt=""
          />
        </div>
        <p>Star+ sin cargo</p>
      </div>
      <div class="item">
        <div class="image_container">
          <img
            class="truck"
            src="https://http2.mlstatic.com/resources/frontend/statics/loyal/v2/truckgiftv4@2x.png"
            alt=""
          />
        </div>
        <p>
          Envíos gratis y rápidos desde $ 19.990 y 40% OFF en envíos de menos de
          $ 19.990
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="bottom">
    <button class="btn btn-primary">Suscríbete</button>
  </div>
</div>
