<div class="principal_cnt">
  <hr />
  <h2>Descripción</h2>
  <p class="ui-pdp-description__content">
    ASUS Vivobook Pro 15 OLED (K6500, 12th Gen Intel)<br /><br />- Sistema
    Operativo: Windows 11 Home<br />- Procesador: Intel Core i7-12650H 12ª Gen
    2.3 GHz (24M Caché, 10 Núcleos)<br />- Tarjeta Gráfica: NVIDIA GeForce RTX
    3050 (4GB GDDR6)<br />- Memoria RAM: 16GB LPDDR5 (No Expandible)<br />-
    Almacenamiento: 512GB 4.0 Performance SSD<br />- Pantalla: 15.6" FHD OLED
    (1920 x 1080) 16:9 con Validación Pantone y Tasa de Refresco 60Hz<br />-
    Teclado: En Español Retroiluminado + Teclado Numérico<br />- Color: Gris
    (Aluminum Cool Silver)<br />- Tecnologías: Grado Militar US MIL-STD 810H,
    Control de Voz Alexa + Cortana, Audio y Wi-Fi 6E +Bluetooth 5&nbsp;<br />-
    Garantía: 1 Año Asus <br /><br />Especificaciones:<br />- Color: Cool
    Silver<br />- Sistema Operativo: Windows 11 Home - ASUS recomienda Windows
    11 Pro para empresas<br />- Procesador: Intel®Core™ i7-12650H Processor 2.3
    GHz (24M Cache, up to 4.7 GHz, 10 cores)<br />- Gráficos: Gráficos Intel®
    UHD<br />NVIDIA®&nbsp;GeForce®&nbsp;RTX™&nbsp;3050&nbsp;Laptop&nbsp;GPU<br />Boost
    up to 1057.5MHz at 35W (50W with Dynamic Boost) NVIDIA Max-Q technology for
    peak performance and efficiency<br />GDDR6 de 4&nbsp;GB<br />- Pantalla:
    15,6&nbsp;pulgadas, FHD (1920 x 1080) OLED 16:9 aspect ratio, 0.2ms response
    time, 60Hz refresh rate, 600nits HDR peak brightness, DCI-P3: 100&nbsp;%,
    1,000,000:1, VESA CERTIFIED Display HDR True Black 600, 1.07 billion colors,
    Validado por Pantone, Glossy display, 70% less harmful blue light, TÜV
    Rheinland-certified, (Screen-to-body ratio)84%<br />- Memoria: 16GB LPDDR5
    on board<br />- Almacenamiento: 512GB M.2 NVMe™ PCIe® 4.0 Performance SSD<br />-
    Puertos E/S: 1x USB 3.2 Gen&nbsp;1 Tipo&nbsp;A<br />2x USB 2.0
    Tipo&nbsp;A<br />1x Thunderbolt™ 4 compatible con pantalla/Power Delivery<br />1x
    HDMI 2.1<br />1x 3.5mm Combo Audio Jack<br />1x entrada DC<br />Lector de
    tarjeta micro SD<br />- Teclado y Touchpad: Teclado tipo chiclet
    retroiluminado con teclado numérico, Recorrido de tecla de 1,4&nbsp;mm,
    Touchpad<br />- Cámara: Cámara 1080p FHD<br />Con bloqueo de seguridad<br />-
    Audio: Tecnología Smart Amp<br />Altavoz incorporado<br />Matriz de
    micrófono incorporada<br />Harman/Kardon (normal)<br />con compatibilidad de
    reconocimiento de voz de Cortana y Alexa<br />- Redes y comunicación: Wi-Fi
    6E(802.11ax) (Dual band) 2*2 + Bluetooth 5<br />- Batería: 70WHrs, 3S1P,
    3-cell Li-ion<br />- Alimentación: ø 4.5; adaptador 150&nbsp;W CA; Salida:
    20&nbsp;V CC, 7,5&nbsp;A, 150&nbsp;W; Entrada: 100~240&nbsp;V CA,
    50/60&nbsp;Hz universal<br />- Peso: 1.80 kg (3.97 lbs)<br />- Dimensiones:
    35.98 x 23.43 x 1.89 ~ 1.99 cm (14.17" x 9.22" x 0.74" ~ 0.78")<br />-
    Aplicaciones: MyASUS<br />ProArt Creator Hub<br />ScreenXpert<br />GlideX<br />-
    Funcionalidades MyASUS: Diagnóstico del sistema<br />Carga de salud de la
    batería<br />Perfil de ventilador<br />Splendid<br />Bloqueo de tecla de
    función<br />WiFi SmartConnect <br />Enlace a MyASUS<br />TaskFirst<br />Live
    update<br />AI Noise Canceling<br />- ASUS Exclusive technology: ASUS
    Antibacterial Guard<br />- Microsoft Office: Versión de prueba de 1&nbsp;mes
    para clientes nuevos de Microsoft&nbsp;365.&nbsp;Se requiere una tarjeta de
    crédito.<br />- Grado militar: Estándar de grado militar US MIL-STD 810H<br />-
    Cumplimiento normativo: Energy star<br />- Seguridad: Protección de arranque
    de BIOS con contraseña de usuario<br />Módulo de plataforma de confianza
    (firmware TPM)<br />30&nbsp;días de prueba de McAfee LiveSafe™<br />Sensor
    de huellas dactilares integrado con la tecla de encendido<br />- Descargo de
    responsabilidad: This product has only been tested for compatibility with
    the Windows 11 operating system, and may encounter compatibility issues if
    Windows 10 or older OS versions are installed.<br />
  </p>
</div>
