<div class="item_cnt">
  <article>
    <div class="image">
      <img [src]="item.image[0]" />
    </div>
    <div class="name">
      <h3>{{ item.name }}</h3>
      <button>Eliminar</button>
      <button>Comprar ahora</button>
    </div>
  </article>

  <div class="count_cnt">
    <div class="count">
      <button>-</button>
      <p>{{ item.amount }}</p>
      <button>+</button>
    </div>
    <p class="stock">{{ item.stock_count }} disponibles</p>
  </div>
  <div class="price">
    <div>${{ item.price_final | numberPoint }}</div>
  </div>
</div>