<ngb-carousel
  #carousel
  [interval]="5000"
  [pauseOnHover]="pauseOnHover"
  [pauseOnFocus]="pauseOnFocus"
>
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <a
      href="https://www.google.fr/?q=Number+{{ i + 1 }}"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <div class="image_container">
        <img
          src="../../../../assets/D_NQ_776681-MLA70484842195_072023-OO.webp"
          alt="My image {{ i + 1 }} description"
        />
      </div>
    </a>
  </ng-template>
</ngb-carousel>
