<div class="description_cnt">
  <div class="info_header">
    <p>Nuevo | +25 vendidos</p>
    <h1>Notebook Asus X515 Intel Core I3 8gb Ram 256 Ssd 15.6'</h1>
  </div>
  <div class="reviews">
    <a href="#"></a>
  </div>
  <div class="best_sell">
    <p>Mas vendido</p>
    <a>13º en Notebooks</a>
  </div>
  <div class="prices_cnt">
    <div class="discount">$579.990</div>
    <div class="prices_final">
      <span class="price">$359.990</span><span class="OFF">37% OFF</span>
    </div>
    <div class="cuotes">
      <p>en <span>6x $59.998 sin interés</span></p>
      <a href="#">Ver los medios de pago</a>
    </div>
  </div>
  <div class="coupon_cnt">
    <div class="coupon_icon"></div>
    <div class="coupons">
      <p>Cupones</p>
      <a href="#">$30.000 OFF en Notebooks</a>
    </div>
  </div>
  <div class="shipment">
    <div class="shipment_icon"></div>
    <div class="info">
      <p>Llega gratis el martes</p>
      <p>
        Solo en Santiago de Chile Comprando dentro de las próximas
        <span>17 h 28 min </span>
      </p>
    </div>
  </div>
  <div class="info_extra">
    <p>Color: <span>Gris</span></p>
    <p>Stock disponible</p>
    <div class="stock">
      <p>Cantidad: <span>1 Unidad</span> <span>(14 disponibles)</span></p>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-primary">Comprar ahora</button>
    <button class="btn btn-secondary">Agregar al carrito</button>
  </div>
</div>
