<div class="description_cnt">
  <div class="info_header">
    <p>
      <span *ngIf="item.new">Nuevo</span> <span *ngIf="!item.new">Usado</span> |
      +<span *ngIf="item.new">50</span>
      <span *ngIf="!item.new">25</span> vendidos
    </p>
    <h1>{{ item.name }}</h1>
  </div>
  <div class="reviews">
    <a href="#"></a>
  </div>
  <div class="best_sell">
    <p>Mas vendido</p>
    <a href="#">13º en Notebooks</a>
  </div>
  <div class="prices_cnt">
    <div class="discount">${{ item.price_original | numberPoint }}</div>
    <div class="prices_final">
      <span class="price">${{ item.price_final | numberPoint }}</span
      ><span class="OFF">37% OFF</span>
    </div>
    <div class="cuotes">
      <p>en {{ item.cuotes }}x ${{ cuotes | numberPoint }} sin interes</p>
      <a href="#">Ver los medios de pago</a>
    </div>
  </div>
  <div class="coupon_cnt">
    <div class="coupon_icon"></div>
    <div class="coupons">
      <p>Cupones</p>
      <a href="#">$30.000 OFF en Notebooks</a>
    </div>
  </div>
  <div class="shipment">
    <div class="shipment_icon"></div>
    <div class="info">
      <p>Llega gratis <span>el martes</span></p>
      <p>
        Solo en Santiago de Chile Comprando dentro de las próximas
        <span>17 h 28 min </span>
      </p>
    </div>
  </div>
  <div class="info_item">
    <p>Color: <span>Gris</span></p>
    <p>Stock disponible</p>
    <div class="stock">
      <p>
        Cantidad: <span>1 Unidad</span>
        <span>({{ item.stock_count }} disponibles)</span>
      </p>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-primary">Comprar ahora</button>
    <button
      *ngIf="!added_cart"
      class="btn btn-secondary addcart"
      (click)="addCart()"
    >
      Agregar al carrito
    </button>
    <button
      class="btn btn-danger removeCart"
      *ngIf="added_cart"
      (click)="removeItem()"
    >
      Eliminar del carrito
    </button>
    <ngb-alert
      [dismissible]="true"
      *ngIf="show_alert_succes"
      (closed)="show_alert_succes = false"
    >
      El producto se ha agregado al carrito.
    </ngb-alert>
    <ngb-alert
      [dismissible]="true"
      *ngIf="show_alert_error"
      (closed)="show_alert_error = false"
      type="danger"
    >
      producto eliminado del carrito.
    </ngb-alert>
  </div>
  <div class="info_extra">
    <div class="info">
      <div class="icon"></div>

      <p>
        <a href="#">Devolución gratis. </a
        ><span>Tienes 30 días desde que lo recibes.</span>
      </p>
    </div>
    <div class="info">
      <div class="icon"></div>

      <p>
        <a href="#">Compra Protegida, </a
        ><span
          >recibe el producto que esperabas o te devolvemos tu dinero.</span
        >
      </p>
    </div>
    <div class="info">
      <div class="icon"></div>

      <p>
        <a href="#">Mercado Puntos. </a
        ><span>Sumas <span>1312</span> puntos.</span>
      </p>
    </div>
  </div>
</div>
