:root {
  --background-header-color: #fff159;
  --primary-color: #fff159;
  --blue-color: #3483fa;
  --muted-text-color: rgb(51, 51, 51);
  --color-blue: #3483fa;
  --background-color: #ebebeb;
  --green-color: #00a650;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  all: unset;
}
