:root {
  --background-header-color: #fff159;
  --primary-color: #fff159;
  --blue-color: #3483fa;
  --muted-text-color: rgb(51, 51, 51);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  all: unset;
}
