<section class="carrousel">
  <app-carrousel></app-carrousel>
</section>
<div class="home_container">
  <br /><br /><br />
  <section class="payments">
    <app-pay-banner></app-pay-banner>
  </section>
  <br />
  <section class="section_slider">
    <div class="items-text">
      <h2>Basado en tu última visita</h2>
      <a href="#">Ver historial</a>
    </div>
    <app-slider-items class="slider-items"></app-slider-items>
  </section>
  <section class="section_slider">
    <div class="items-text">
      <h2>Relacionado con tus visitas en Computación</h2>
      <a href="#">Ver historial</a>
    </div>
    <app-slider-items class="slider-items"></app-slider-items>
  </section>
  <section class="section_slider">
    <div class="items-text">
      <h2>Ofertas</h2>
      <a href="#">Ver todas</a>
    </div>
    <app-slider-items class="slider-items"></app-slider-items>
  </section>
  <section class="disney_section">
    <app-disney-section></app-disney-section>
  </section>
</div>
