.home_container {
  width: 1200px;
  margin: 0 auto;
  .items-text {
    padding: 1.5rem 0;
    display: flex;
    gap: 1rem;
    align-items: baseline;
    a {
      font-size: 1rem;
      color: var(--blue-color);
    }
    h2 {
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
  .slider-items {
    box-sizing: content-box;
  }
  .section_slider {
    height: 550px;
  }
  .disney_section {
    height: 400px;
  }
}
